src/main/mule/anypoint.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="666d5eba-f8df-4dff-a15a-6ad765fd9fe7" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="anypointFlow" doc:id="532b614c-6d1c-4e34-a7e7-dec5b75bbb6e" >
		<http:listener doc:name="Listener" doc:id="38cee98b-e9ac-4a23-9a1c-38dd115b3921" config-ref="HTTP_Listener_config" path="/anypoints"/>
		<ee:transform doc:name="Transform Message" doc:id="56e9938f-a304-4f5e-95d1-27204fbb1f49" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	"message":"Good Morning"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="082bb883-a899-437e-b241-2564860606f9" message="#[payload]"/>
	</flow>
</mule>
